header{
background:#d8bfd8;
}
h1{
color: #191970;
text-transform: uppercase;
text-align: center;
}
h2{
color: #0000ff;
text-transform: uppercase;
}
section{
background:#ffc0cb;
}
a{
  color: #4b0082;
  background:#ffc0cb;
}
img{
display:none;
}

