header{
	background-color: 	#5c299e;	
}

h1{ 
	color: #e3d9f1;
text-transform: uppercase;
text-align: center;
}

h2{ 
	color: #1d5856;
	text-transform: uppercase;	
}

a{
	color: #53543b;
    background-color: #d5c6e8;
}

.left {
display: none; 
}

 .right {
 	background-color: #cace90;
 }
